@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Signika&display=swap');
@font-face { font-family: 'Trueno'; src: url('../fonts/trueno.otf'); }

body {
	background-color: #190a12;
	overflow-x: hidden;
}

.bgimg {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: url(../../images/bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.container {
	position: absolute;
	display: flex;
	top: 0;
	left: 0;
	height: 100%;
	min-width: 100%;
	align-items: center;
	justify-content: center;
}

.info {
	font-family: 'Trueno';
	text-align: center;
	max-width: 450px;
}

.info .intro {
	position: relative;
	padding: 0;
}

.info .name {
	margin: auto;
	padding: 1rem;
	background-color: black;
	color: #f8f8f8;
}

.info .listen,
.info .link {
	margin: auto;
	height: 65px;
	background-color: #ffffff;
	color: #03080d;
	border: 1px solid #eaeaea;
	font-size: 27pt;
}

.info .link {
    color: #36262f;
    text-decoration: none;
}

.info .link:hover {
	background-color: #f1f1f1;
    border: 2px solid #fff;
    box-shadow: 0 0 3px #a5a5a5;
}

.apple-music {
	display: inline-block;
	margin: auto;
	padding: 27px 0 37px;
	background-image: url(../../images/distribution/apple-music.svg);
	background-repeat: no-repeat;
	background-position: center;
	width: 135px;
	height: 30px;
}

.deezer {
	display: inline-block;
	margin: auto;
	padding: 25px 0 37px;
	background-image: url(../../images/distribution/deezer.svg);
	background-repeat: no-repeat;
	background-position: center;
	width: 135px;
	height: 30px;
}

.spotify {
	display: inline-block;
	margin: auto;
	padding: 25px 0 37px;
	background-image: url(../../images/distribution/spotify.svg);
	background-repeat: no-repeat;
	background-position: center;
	width: 135px;
	height: 30px;
}

.amazon-music {
	display: inline-block;
	margin: auto;
	padding: 30px 0 37px;
	background-image: url(../../images/distribution/amazon-music.svg);
	background-repeat: no-repeat;
	background-position: center;
	width: 135px;
	height: 30px;
}

.youtube-music {
	display: inline-block;
	margin: auto;
	padding: 25px 0 37px;
	background-image: url(../../images/distribution/youtube-music.svg);
	background-repeat: no-repeat;
	background-position: center;
	width: 135px;
	height: 30px;
}

.youtube {
	display: inline-block;
	margin: auto;
	padding: 27px 0 37px;
	background-image: url(../../images/distribution/youtube.svg);
	background-repeat: no-repeat;
	background-position: center;
	width: 135px;
	height: 30px;
}

.play {
	height: 128px;
    width: 128px;
    left: 50%;
    top: 50%;
    margin-left: -64px;
    margin-top: -64px;
    position: absolute;
    background: url(../../images/play.png) no-repeat;
    cursor: pointer;
    z-index: 1;
    opacity: .8;
}

.loading {
	height: 100px;
    width: 100px;
    left: 50%;
    top: 50%;
    margin-left: -42px;
    margin-top: -50px;
    position: absolute;
    background: url(../../images/loading.svg) no-repeat;
    z-index: 1;
}

.cookies {
	padding: .5rem 0;
	color: #d1d1d1;
	font-family: 'Signika', sans-serif;
    font-size: 9pt;
}

.cookies div {
	color: #65758c;
}